/* Variaveis */
$corPadrao: #007bff;
$vermelho: #dd4b39;
$verde: #28A745FF;
$white: #ffffff;

/* Fields */
$fields-background: #f6f6f6;

/* Botões */
$btn-warning: #f39c12;
$btn-warning-border: #e08e0b;
$btn-disabled: #ced4da;

/* Element */
$element-thead-background: #fafafa;
$element-footer-background: #fafafa;
$element-border-color: #d7d7d7;
$element-hover: #eaeaea;

/* Tabs */
$tab-background: #03525e;
$tab-body-background: #f2f2f2;
$tab-background-hover: darken($tab-background, 10);
$tab-background-active: #28a745;
$tab-text: #fff;
$tab-border-color: $tab-background;
$tab-border-separation: #fff;


$accet-color: #17a2b8;
