#!/usr/bin/env bash
# Used as a default to seed config/.env which
# enables you to use environment variables to configure
# the aspects of your application that vary by
# environment.
#
# Having this file in production is considered a **SECURITY RISK** and also decreases
# the boostrap performance of your application.
#
# To use this file, first copy it into `config/.env`. Also ensure the related
# code block for loading this file is uncommented in `config/boostrap.php`
#
# In development .env files are parsed by PHP
# and set into the environment. This provides a simpler
# development workflow over standard environment variables.
export APP_NAME="montenegro"
export DEBUG="true"
export APP_ENCODING="UTF-8"
export APP_DEFAULT_LOCALE="pt_BR"
export APP_DEFAULT_TIMEZONE="America/Sao_Paulo"
export SECURITY_SALT="ad45059c51e29df2b577fe6453b9c1cf083a72454f5edea9bca333bd65bab796"

# Uncomment these to define cache configuration via environment variables.
export CACHE_FOLDER="/var/www/html/"
export CACHE_DURATION="+2 minutes"
export CACHE_DEFAULT_URL="file://${CACHE_FOLDER}tmp/cache/?prefix=${APP_NAME}_default&duration=${CACHE_DURATION}"
export CACHE_CAKECORE_URL="file://${CACHE_FOLDER}tmp/cache/persistent?prefix=${APP_NAME}_cake_core&serialize=true&duration=${CACHE_DURATION}"
export CACHE_CAKEMODEL_URL="file://${CACHE_FOLDER}tmp/cache/models?prefix=${APP_NAME}_cake_model&serialize=true&duration=${CACHE_DURATION}"

# Uncomment these to define email transport configuration via environment variables.
export EMAIL_TRANSPORT_DEFAULT_URL="smtp://86b59a49880871:8ab7c4742cc6a2@smtp.mailtrap.io:2525?tls=true"

# Uncomment these to define database configuration via environment variables.
export DATABASE_URL="mysql://montenegro:montenegro@db/montenegro?encoding=utf8&timezone=America/Sao_Paulo"
#export DATABASE_TEST_URL="mysql://my_app:secret@localhost/test_${APP_NAME}?encoding=utf8&timezone=UTC&cacheMetadata=true&quoteIdentifiers=false&persistent=false"

# Uncomment these to define logging configuration via environment variables.
export LOG_DEBUG_URL="file://${CACHE_FOLDER}logs/?levels[]=notice&levels[]=info&levels[]=debug&file=debug"
export LOG_ERROR_URL="file://${CACHE_FOLDER}logs/?levels[]=warning&levels[]=error&levels[]=critical&levels[]=alert&levels[]=emergency&file=error"

export PAGSEGURO_ENV="sandbox"
export PAGSEGURO_EMAIL="suporte@winsite.com.br"
export PAGSEGURO_TOKEN_PRODUCTION=""
export PAGSEGURO_TOKEN_SANDBOX="08239F0ADB5B472AB216D73636E229E2"
export PAGSEGURO_CHARSET="UTF-8"

export FCM_CHAVE_SERVIDOR=""
